@{
    ViewData["Title"] = "Flight Manager Simulator";
}

@*asp-prerender-module="ClientApp/dist/main-server"*@
<app>
    <div class="loading-wrapper">
        <div class="lds-css ng-scope centered">
            <div style="width:75%;height:75%" class="lds-rolling">
                <div></div>
            </div>
        </div>
    </div>
</app>


<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
